

body, html {
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff none repeat scroll 0 0;
    color: #5d7073;
    font-family: 'Work Sans', Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
    width: 100%;
}
.site-title{
  margin-bottom: 40px;
}
.site-title a{
  color: inherit;
}
.site-title a h1{
  font-size: 32px;
  margin: 0
}
.general-container{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10vh;
}
.menu_container {
  width: 95%;
  margin-left: 2.5%;
  float: left;
  border-bottom: 1px solid #8ea39e;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 2.5em;
}
.menu_container a {
    font-size: 16px;
    text-decoration: none;
}
.sub_menu {
	margin: 0 0 0 35px;
}
.menu_link a {
    color: #8ea39e;
}
.menu_link a:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #5d7073;
}
.menu_link a:active {
    background: #ffffff none repeat scroll 0 0;
    color: #5d7073;
}
.content_container {
    width: 95%;
    margin-left: 2.5%;
    float: left;
}
.main_container img {
    margin: 0 15px 15px 0;
    width: 100%;
}
.project_thumb {
	cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  float: left;
  height: auto;
  overflow: hidden;
}
.project_thumb img{
  width: 100%;
}

@media screen and (min-width:900px){
  body{
    font-size: 12px;
  }
  .general-container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
  .menu_container {
    width: 20%;
    margin-left: 0;
    float: left;
    border-bottom: none;
  }
  .content_container {
      width: 80%;
      margin-left: 0;
      float: left;
  }
  .project_thumb {
    width: 45%;
    margin-right: 2.5%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
  }
  .menu_container {
    text-align: left;
    line-height: normal;
  }
  menu_container a{
    font-size: 11px;
  }
  .site-title{
    margin-bottom: 20px;
  }

}

@media screen and (min-width:1250px){
  .general-container{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
  .menu_container {
    width: 30%;
    margin-left: 0;
    float: left;
  }
  .content_container {
      width: 70%;
      margin-left: 0;
      float: left;
  }
  .project_thumb {
    width: 30%;
    margin-right: 3%;
    height: 130px;
    min-height: 130px;
    max-height: 130px;
  }
}
